<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(messages.length) { %>
      <% messages.forEach((message) => { %>
        <div class='msgbox'>
          <p><strong><%= message.text %></strong></p>
          <p><%= message.user %></p>
          <p><%= message.added %></p>
        </div>
      <% }); %>
    <% } %>
  </body>
</html>
